.badge {
    position: absolute;
    padding: 5px 10px;
    min-width: 10px;
    right:1.5rem;    
	border-radius: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff !important;
    background-color: #96c927;
}

.badgecentre {
    position: absolute;
    padding: 5px 10px;
    min-width: 10px;
    right:5rem;    
	border-radius: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff !important;
    background-color: #96c927;
}

.badgenonvolant {
    padding: 5px 10px;
    min-width: 10px;
    right:1.5rem;    
	border-radius: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff !important;
    background-color: #96c927;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
.badge-purple {
  color: #fff;
  background-color: #6f42c1;
}

.badge-warning {
	color: #212529;
	background-color: #ffc107;
}

/* Red border */
hr.new1 {
border-top: 1px dotted ;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

